---
import "../css/reset.css";
import "../css/global.css";
import "../css/publicsans.css";
import "../css/variables.css";
import "../css/blocks/box.css";
import "../css/blocks/card.css";
import "../css/blocks/center.css";
import "../css/blocks/grid.css";
import "../css/blocks/prose.css";
import "../css/blocks/cluster.css";
import "../css/blocks/cover.css";
import "../css/blocks/reel.css";
import "../css/blocks/stack.css";
import "../css/blocks/switcher.css";
import "../css/utilities/content.css";
import "../css/utilities/flow.css";
import "../css/utilities/region.css";
import "../css/utilities/wrapper.css";
import "../css/utility.css";
import "../css/exceptions.css";
export interface Props {
  meta: {
    title?: string;
    description?: string;
    canonicalURL?: URL | string;
    image?: string;
  };
}

const { meta } = Astro.props;

const title = meta.title
  ? meta.title
  : "The Internet's favorite Frank Stallone";
const description = meta.description
  ? meta.description
  : "The Internet's favorite Frank Stallone";
const canonicalURL = meta.canonicalURL
  ? meta.canonicalURL
  : "https://frankstall.one";
const ogImage = meta.image
  ? meta.image
  : "/media/the-internets-favorite-frank-stallone-ogimage.png";
---

<head>
  <!-- Meta -->
  <meta charset="UTF-8" />
  <meta name="description" content={description} />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <!-- Sitemap -->
  <link rel="sitemap" href="/sitemap-index.xml" />
  <!-- Canonical -->
  <link rel="canonical" href={canonicalURL} />

  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <!-- Open Graph -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content={canonicalURL} />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={ogImage} />
  <meta property="og:image:alt" content={`Frank Stallone - ${description}`} />

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

  <!-- Local Fonts -->
  <link
    rel="preload"
    as="font"
    href="/fonts/future/the-future-thin.woff2"
    type="font/woff2"
    crossorigin="anonymous"
  />
  <link
    rel="preload"
    as="font"
    href="/fonts/future/the-future-thin-italic.woff2"
    type="font/woff2"
    crossorigin="anonymous"
  />
  <link
    rel="preload"
    as="font"
    href="/fonts/future/the-future-extralight.woff2"
    type="font/woff2"
    crossorigin="anonymous"
  />
  <link
    rel="preload"
    as="font"
    href="/fonts/future/the-future-extralight-italic.woff2"
    type="font/woff2"
    crossorigin="anonymous"
  />
  <link
    rel="preload"
    as="font"
    href="/fonts/future/the-future-light.woff2"
    type="font/woff2"
    crossorigin="anonymous"
  />
  <link
    rel="preload"
    as="font"
    href="/fonts/future/the-future-light-italic.woff2"
    type="font/woff2"
    crossorigin="anonymous"
  />
  <link
    rel="preload"
    as="font"
    href="/fonts/future/the-future-regular.woff2"
    type="font/woff2"
    crossorigin="anonymous"
  />
  <link
    rel="preload"
    as="font"
    href="/fonts/future/the-future-italic.woff2"
    type="font/woff2"
    crossorigin="anonymous"
  />
  <link
    rel="preload"
    as="font"
    href="/fonts/future/the-future-medium.woff2"
    type="font/woff2"
    crossorigin="anonymous"
  />
  <link
    rel="preload"
    as="font"
    href="/fonts/future/the-future-medium.woff2"
    type="font/woff2"
    crossorigin="anonymous"
  />
  <link
    rel="preload"
    as="font"
    href="/fonts/future/the-future-bold.woff2"
    type="font/woff2"
    crossorigin="anonymous"
  />
  <link
    rel="preload"
    as="font"
    href="/fonts/future/the-future-bold-italic.woff2"
    type="font/woff2"
    crossorigin="anonymous"
  />
  <link
    rel="preload"
    as="font"
    href="/fonts/future/the-future-black.woff2"
    type="font/woff2"
    crossorigin="anonymous"
  />
  <link
    rel="preload"
    as="font"
    href="/fonts/future/the-future-black-italic.woff2"
    type="font/woff2"
    crossorigin="anonymous"
  />
  <link
    rel="preload"
    as="font"
    href="/fonts/future/the-future-mono-regular.woff2"
    type="font/woff2"
    crossorigin="anonymous"
  />
  <link
    rel="preload"
    as="font"
    href="/fonts/future/the-future-mono-italic.woff2"
    type="font/woff2"
    crossorigin="anonymous"
  />
  <link
    rel="preload"
    as="font"
    href="/fonts/future/the-future-mono-medium.woff2"
    type="font/woff2"
    crossorigin="anonymous"
  />
  <link
    rel="preload"
    as="font"
    href="/fonts/future/the-future-mono-medium-italic.woff2"
    type="font/woff2"
    crossorigin="anonymous"
  />
  <!-- Schema.org -->
</head>
