---
import '../css/reset.css';
import '../css/global.css';
import '../css/organetto.css';
import '../css/publicsans.css';
import '../css/variables.css';
import '../css/blocks/box.css';
import '../css/blocks/card.css';
import '../css/blocks/center.css';
import '../css/blocks/grid.css';
import '../css/blocks/prose.css';
import '../css/blocks/cluster.css';
import '../css/blocks/cover.css';
import '../css/blocks/reel.css';
import '../css/blocks/stack.css';
import '../css/blocks/switcher.css';
import '../css/utilities/content.css';
import '../css/utilities/flow.css';
import '../css/utilities/region.css';
import '../css/utilities/wrapper.css';
import '../css/utility.css';
import '../css/exceptions.css';
export interface Props {
  meta: {
    title?: string;
    description?: string;
    canonicalURL?: URL | string;
    image?: string;
  };
}

const { meta } = Astro.props;

const title = meta.title
  ? meta.title
  : 'SweetSpot Solutions | Dessert Franchise Growth Partners';
const description = meta.description
  ? meta.description
  : 'SweetSpot Solutions | Dessert Franchise Growth Partners';
const canonicalURL = meta.canonicalURL
  ? meta.canonicalURL
  : 'https://sweetspot.nyc';
// TODO: Change ogImage
const ogImage = meta.image
  ? meta.image
  : '/media/the-internets-favorite-frank-stallone-ogimage.png';
---

<head>
  <!-- Meta -->
  <meta charset="UTF-8" />
  <meta name="description" content={description} />
  <meta name="viewport" content="width=device-width" />
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="manifest" href="/site.webmanifest" />
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
  <meta name="msapplication-TileColor" content="#603cba" />
  <meta name="theme-color" content="#ffffff" />
  <!-- Sitemap -->
  <link rel="sitemap" href="/sitemap-index.xml" />
  <!-- Canonical -->
  <link rel="canonical" href={canonicalURL} />

  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <!-- Open Graph -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content={canonicalURL} />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={ogImage} />
  <meta property="og:image:alt" content={`Frank Stallone - ${description}`} />

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

  <!-- Local Fonts -->
  <link
    rel="preload"
    as="font"
    href="/fonts/organetto/Organetto-Regular.woff"
    type="font/woff"
    crossorigin="anonymous"
  />
  <link
    rel="preload"
    as="font"
    href="/fonts/organetto/Organetto-Bold.woff"
    type="font/woff"
    crossorigin="anonymous"
  />
  <link
    rel="preload"
    as="font"
    href="/fonts/organetto/Organetto-BoldExt.woff"
    type="font/woff"
    crossorigin="anonymous"
  />
  <!-- Schema.org -->
</head>
